[submodule "external/libunwindstack-ndk"]
	path = external/libunwindstack-ndk
	url = https://github.com/getsentry/libunwindstack-ndk
[submodule "external/crashpad"]
	path = external/crashpad
	url = https://github.com/getsentry/crashpad.git
[submodule "external/msgpack-c"]
	path = external/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
