.vscode/ipch
.venv/
.sentryclirc

# Build files
libsentry.*
*.dylib
*.dSYM
crashpad_wrapper
.sentrypad-tmp/
out/

# Example files
example
settings.dat
new/
completed/
pending/
sentrypad-db/
*.mp
*.dmp

# OS stuff
.DS_Store
Thumbs.db
._*
