.vscode/ipch
.venv/
.sentryclirc

# Crashpad
crashpad/build

# Breakpad
breakpad/build

# Premake
premake/premake5

# Build files
libsentry.*
*.dylib
*.dSYM
crashpad_wrapper
.sentrypad-tmp/
.sentry-native-tmp/
out/
tmp/
premake/.vs

# Example files
example
settings.dat
new/
completed/
pending/
sentrypad-db/
sentry-native-db/
*.mp
*.dmp
*.bak

# OS stuff
.DS_Store
Thumbs.db
._*

# Env files
.env
