.vscode/ipch
.venv/
.sentryclirc

# Crashpad
crashpad/build

# Build files
libsentry.*
*.dylib
*.dSYM
crashpad_wrapper
.sentrypad-tmp/
out/
tmp/
premake/.vs

# Example files
example
settings.dat
new/
completed/
pending/
sentrypad-db/
sentry-native-db/
*.mp
*.dmp

# OS stuff
.DS_Store
Thumbs.db
._*
