# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - "*"

pr:
  - master

variables:
  ARTIFACT_DIR: 'sentry-native-data'

stages:
  - stage: prepare_build_files
    displayName: Prepare sources
    jobs:
      - job: package_sources
        displayName: "; package sources"
        pool:
          vmImage: "macos-10.13"
        steps:
          - bash: |
              set -eux

              bash package.sh
              mv out sp-sources
              zip -r sp-sources sp-sources/

          - task: PublishBuildArtifacts@1
            inputs:
              pathtoPublish: 'sp-sources.zip'
              artifactName: $(ARTIFACT_DIR)

  - stage: build_per_platform
    displayName: Build Crashpad
    jobs:
      - template: azure-pipelines/build-crashpad.yml
        parameters:
          vmImage: "macos-10.13"
          platform: "macosx"
          buildSystem: "gmake2"
          buildScript: |
            make help
            make

            # Smoke test
            ./bin/Release/sentry_example_crashpad || true

      - template: azure-pipelines/build-crashpad.yml
        parameters:
          vmImage: "vs2017-win2016"
          platform: "windows"
          buildSystem: "vs2017"
          buildScript: |
            MSBUILD="/c/Program Files (x86)/Microsoft Visual Studio/2017/Enterprise/MSBuild/15.0/Bin/MSBuild.exe"
            "$MSBUILD" Sentry-Native.sln //m //p:Configuration=Release //p:Platform=x64 //t:Clean,Build

            # Smoke test
            ./bin/x64/Release/sentry_example_crashpad.exe || true

  - stage: package_all
    displayName: Package the final archive
    jobs:
      - job: package_all
        pool:
          vmImage: "macos-10.13"
        steps:
          - task: DownloadBuildArtifacts@0
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: $(ARTIFACT_DIR)
              downloadPath: '.'
          - bash: |
              set -eux

              mkdir out
              cd out
              unzip -q "../${ARTIFACT_DIR}/sp-sources.zip"

              PLATFORMS=(macosx windows)

              # Copy gen_* directories from available archives
              for PLATFORM in "${PLATFORMS[@]}"; do
                rm -rf ./sentry-native
                unzip -q "../${ARTIFACT_DIR}/sentry-native-crashpad-${PLATFORM}.zip"
                rm -rf "./sp-sources/gen_${PLATFORM}"
                mv "sentry-native/gen_${PLATFORM}" "./sp-sources/gen_${PLATFORM}"
              done
              rm -rf ./sentry-native

              mv sp-sources sentry-native
              zip -r sentry-native-crashpad-all sentry-native/

          - task: PublishBuildArtifacts@1
            inputs:
              pathtoPublish: 'out/sentry-native-crashpad-all.zip'
              artifactName: $(ARTIFACT_DIR)
