stages:
  - stage: package
    displayName: Prepare & Bundle Sources
    jobs:
      - job: package
        displayName: Prepare & Bundle Sources
        steps:
          - checkout: self
            fetchDepth: 5
            submodules: recursive
          - script: |
              # the submodule contains an invalid symlink for whatever reason,
              # which trips up Azure…
              rm external/libunwindstack-ndk/.clang-format
              # TODO: rethink how external dependencies are fetched
              #bash scripts/fetch-dependencies.sh
            displayName: Fetching External Dependencies
          - publish: .
            artifact: s

  - stage: test
    dependsOn: package
    displayName: Build & Test

    jobs:
      - job: Linux
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - checkout: none
          - download: current
          - script: |
              mkdir -p build && cd build
              cmake ..
              cmake --build . --parallel --target sentry_tests
            displayName: Build
          - script: ./build/sentry_tests
            displayName: Test
          - script: |
              rm -rf build
              mkdir -p build && cd build
              cmake -DBUILD_SHARED_LIBS=OFF ..
              cmake --build . --parallel --target example
              ! (ldd example | grep -q libsentry)
            displayName: Test static library build

      - job: macOS
        pool:
          vmImage: "macOs-latest"
        steps:
          - checkout: none
          - download: current
          - script: |
              mkdir -p build && cd build
              cmake ..
              cmake --build . --parallel --target sentry_tests
            displayName: Build
          - script: ./build/sentry_tests
            displayName: Test

      - job: Windows
        pool:
          vmImage: "windows-latest"
        steps:
          - checkout: none
          - download: current
          - script: |
              mkdir build && cd build
              cmake ..
              cmake --build . --parallel --target sentry_tests
            displayName: Build
          - script: .\build\Debug\sentry_tests.exe
            displayName: Test

      - job: Android
        strategy:
          matrix:
            API16:
              ANDROID_API: 16
              ANDROID_NDK: 19.2.5345600
            API29:
              ANDROID_API: 29
              ANDROID_NDK: 21.0.6113669
        pool:
          # The Android emulator is currently only available on macos, see:
          # https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/android?view=azure-devops#test-on-the-android-emulator
          vmImage: "macOs-latest"
        variables:
          ANDROID_ARCH: x86
          ANDROID_IMAGE: system-images;android-$(ANDROID_API);google_apis;$(ANDROID_ARCH)
        steps:
          - checkout: none
          - download: current
          - script: |
              echo "Downloading ndk;$(ANDROID_NDK) and $(ANDROID_IMAGE)"
              echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install \
                "ndk;$(ANDROID_NDK)" "$(ANDROID_IMAGE)" | \
                grep -v "\[=" || true # suppress the progress bar, so we get meaningful logs
            displayName: Installing Android SDK Dependencies
          # See: https://developer.android.com/ndk/guides/cmake
          - script: |
              mkdir build && cd build
              cmake \
                -DCMAKE_TOOLCHAIN_FILE=$ANDROID_HOME/ndk/$(ANDROID_NDK)/build/cmake/android.toolchain.cmake \
                -DANDROID_ABI=$(ANDROID_ARCH) \
                -DANDROID_NATIVE_API_LEVEL=$(ANDROID_API) \
                ..
              cmake --build . --parallel --target sentry_tests
            displayName: Build
          - script: |
              bash scripts/start-android.sh
            timeoutInMinutes: 2 # because gettings things wrong here can hang the job for up to an hour…
            displayName: Starting Android Simulator
          - script: |
              export DEVICE_DIR="/data/local/tmp"
              $ANDROID_HOME/platform-tools/adb push ./build "${DEVICE_DIR}"
              $ANDROID_HOME/platform-tools/adb shell "cd ${DEVICE_DIR}/build && ./sentry_tests"
            displayName: Test
