jobs:
  # MacOS
  - job: crashpad_macos
    displayName: Sentrypad + Crashpad (MacOS, x86_64)
    pool:
      vmImage: "macos-10.13"
    steps:
      - template: prescript-common.yml
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: 'sentrypad-crashpad'
          downloadPath: '.'
      - bash: |
          set -eux

          ls -alh . ./*
          unzip ./sentrypad-crashpad/sentrypad-crashpad.zip >/dev/null

          cd sentrypad-crashpad/gen_macosx
          make

  # Windows
  - job: crashpad_windows
    displayName: Sentrypad + Crashpad (Windows, x86_64)
    pool:
      vmImage: "vs2017-win2016"
    steps:
      - template: prescript-common.yml
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: 'sentrypad-crashpad'
          downloadPath: '.'
      - bash: |
          set -eux

          ls -alh . ./*
          unzip ./sentrypad-crashpad/sentrypad-crashpad.zip >/dev/null

          MSBUILD="/c/Program Files (x86)/Microsoft Visual Studio/2017/Enterprise/MSBuild/15.0/Bin/MSBuild.exe"

          cd sentrypad-crashpad/gen_windows

          # FIXME: generate on Windows initially?
          premake5 vs2017
          "$MSBUILD" Sentrypad.sln //m //p:Configuration=Release //p:Platform=Win64 //t:Clean,Build
